html, body {
    font-family: 'Patua One', cursive;

}

button {
    font-family: 'Patua One', cursive;
    font-size: 1em;
    border: 1px solid #FFFFFF;
    background-color: #333;
    color: #FFFFFF;
}

select {
    font-family: 'Patua One', cursive;
    font-size: 1em;
    height: 42px;
    
}